<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
   <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <% blogs.forEach(blog => { %>
             <div class="col mb-4">
                <div class="card h-100">
                    <img src="<%= blog.backcoverURL %>" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= blog.title %></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
             </div>
            <% }) %> 
        </div>
    </div>

    <%- include('./partials/script') %>
</body>
</html>
